<div class="testing-banner">
    <div class="hero_top">
        <div class="page-width container">
            <div class="logo_text">
                {{ section.settings.logo }}
            </div>
            <div class="ideal_gift_text">
                {{ section.settings.ideal_gift_text }}
            </div>
            <div class="choose_gift">
                <a href="{{ section.settings.choose_gift_link }}">
                    {{ section.settings.choose_gift }}
                </a>
            </div>
        </div>
    </div>
    <div class="hero_banner">
        {% if section.settings.image != blank %}
            
            <img 
                src="{{ section.settings.image | img_url: '1600x' }}" 
                alt="{{ section.settings.hero_heading | escape }}" 
                class="hero_img"
                width=""
                height=""
            >
        {%  else %}
            {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
            
            <div class="hero_content">
                <div class="page-width container">
                    <div class="hero_text_wrap">
                        {% if section.settings.hero_heading != blank %}
                            <h2>{{ section.settings.hero_heading }}</h2>
                        {% endif %}
                        {% if section.settings.hero_text != blank %}
                            <p>{{ section.settings.hero_text }}</p>
                        {% endif %}
                        {% if section.settings.hero_btn != blank %}
                            <a href="#" class="hero_btn">{{ section.settings.hero_btn }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
    <div class="hero_bottom">
        {{ section.settings.hero_bottom }}
    </div>
</div>

<style>
    .hero_top {
        background :#F5F5F5;
        padding: 10px 0 ;
    }
    .hero_top > .container{
        width:100%;
        display:flex;
        align-items:center;
    }
    .hero_top .container > * {
        width:100%
    }
    .hero_bottom {
        background:#F5F5F5;
        font-size:18px;
        text-align:center;
    }
    .logo_text {
        font-size:24px;
        color:#000;
    }
    .ideal_gift_text {
        text-align:center;
    }
    .choose_gift {
        display: inline-flex;
        justify-content: flex-end;
    }
    .choose_gift a {
        background:#FFF544;
        text-decoration:none;
        color:#000;
        padding: 7px 30px;
        text-transform:uppercase;
    }
    .hero_banner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .hero_banner img.hero_img {
        width: 100%;
        display: block;
    }
    .hero_content {   
        position: absolute;
        bottom: 50px;
        left: 0;
        padding: 20px;
    }
    .hero_content h2 {
        font-size: 48px;
        margin: 0 0 15px;
        font-weight:700;
    }
    .hero_content p {
        font-size: 20px;
        margin-bottom: 20px;
        color:#000;
        line-height:25px;
    }
    .hero_content .hero_btn {
        background: #FFF544;
        color: #000;
        padding: 10px 30px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }
    .hero_text_wrap {
        max-width: 500px;
        background:#fff;
        padding: 0 20px;
    }
</style>

{%- schema -%}
    {
        "name": "Banner Section",
        "class": "banner-homepage",
        "settings": [
            {
                "type": "header",
                "content": "== Top Bar"
            },
            {
                "type": "text",
                "id": "logo",
                "label": "Logo Text",
            },
            {
                "type": "text",
                "id": "ideal_gift_text",
                "label": "Ideal Gift Text",
            },
            {
                "type": "text",
                "id": "choose_gift",
                "label": "Choose Gift Button",
            },
            {
                "type": "url",
                "id": "choose_gift_link",
                "label": "Choose Gift Link",
            },
            {
                "type": "header",
                "content": "== Design Options"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner Image",
                "info": "Image Dimension should be : "
            },
            {
                "type": "header",
                "content": "== Banner Text"
            },
            {
                "type": "text",
                "id": "hero_heading",
                "label": "Hero Heading",
            },
            {
                "type": "text",
                "id": "hero_text",
                "label": "Hero Text",
            },
            {
                "type": "text",
                "id": "hero_btn",
                "label": "Hero Button",
            },
            {
                "type": "text",
                "id": "hero_bottom",
                "label": "Hero Bottom Text",
            },
        ],
        "presets": [
            {
                "name": "Banner Section",
                "category": "EcomExperts",
            }
        ]
    }    	
{%- endschema -%}
